[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "submodules/tbb"]
	path = submodules/tbb
	url = https://github.com/oneapi-src/oneTBB
[submodule "experiment/submodules/parallel-divsufsort"]
	path = experiment/submodules/parallel-divsufsort
	url = git@github.com:jlabeit/parallel-divsufsort.git
[submodule "experiment/submodules/libsais"]
	path = experiment/submodules/libsais
	url = git@github.com:IlyaGrebnov/libsais.git